!
! The generic network configuration file.
!

!
! What little is common between the machines goes here.
!
set ipscan 1

send l_boundary as boundary data-store
send l_spotlight as spotlight data-store
send l_nowcast as nowcast data-store
send l_nowcast_2 as nowcast_2 data-store
send l_nowcast_3 as nowcast_3 data-store

set displays "zelda zamfir zen zonker zorba zodiac"

!
! Now branch out on the individual machines, for those which need
! extra stuff.
!
set machine getenv("HOST")

if (machine = "data-store")
	!
	! We're the data store, so we send just about everything to everybody.
	! Main exception is radar, which goes direct from rasterizer.
	!
	send field-mill to #displays
	send mesonet to #displays
	send boundary to #displays
	send spotlight to #displays
	send cp2-az-limits to #displays
	send lightning to #displays
	send dpk to #displays
	send tco to #displays
	send day to #displays
	send dun to #displays
	send rus to #displays
	send fel to #displays
	send mobile to #displays
	send nowcast to #displays
	send nowcast_2 to #displays
	send nowcast_3 to #displays
	send capow_now_1 to #displays
	send capow_now_2 to #displays
	send capow_now_3 to #displays
	send capow_bdry_1 to #displays
	send capow_core_1 to #displays
	send n510mh to #displays
	send n566na to #displays
	send n312d to #displays
	send n2uw to #displays
	send n42rf to #displays
	send n431na to #displays
	send n709na to #displays
	send n9929j to #displays
	set sequence 1000
	receive 3344			! The radar broadcast port.
	broadcast 128.117.210.0 3345	! Our broadcast port
!
! Rasterizer broadcasts out the radar data to the world, receives nothing.
!
else if (machine = "rasterizer")
	set sequence 5000
	set burst 50			! Play with this
	broadcast 128.117.210.0 3344
	send cp4 #displays data-store

else	! Display machine
	if (machine = 'zorba')
		send n510mh to data-store
		send n566na to data-store
		send n312d to data-store
		send n2uw to data-store
		send n42rf to data-store
		send n431na to data-store
		send n709na to data-store
		send n9929j to data-store
	endif
	send cp2-az-limits to data-store
	receive 3344	! radar data
	receive 3345	! everything else
endif
