!
! THE generic network configuration file.
!

message "Reading NetXfr config file for session: #" c$session

!
! What little is common between the message sessions goes here.
!
set ipscan 1

set displays ""
set datastore "sundog"
set rasterizer "hurricane-jr"
set ac_ingest "sundog"

!
! Assign unique sequence numbers to each session
!
set seq_source		100000
set seq_sink		200000

!
! Seq numbers.
!
set svname concat("seq_",c$session)
if (defined (svname))
	set sequence #svname
else
	set sequence 99
endif

if (session = source)

	broadcast 128.117.80.0 3352	! Our broadcast port

else if (session = sink)
	set burst 20			! Play with this
	broadcast 128.117.192.0 3344
	send mhr #displays #datastore
	dirimage mhr
	send goes #datastore
	receive 3353			! everything else
endif

