/*
 * Configuration file for Suns.
 */



/*
 * Flags for the C compiler.
 */
# define OtherCFlags -DUNIX 

/*
 * Flags for the FORTRAN compiler.
 */
# define OtherFFlags -DUNIX -cg87

/*
 * The Makefile architecture
 */
# define MakefileArch "sun"


