PICFLAGS = PositionIndependentCFlags

#if sgiDSOlib

XCOMM Supporting dynamic shared object libraries for IRIX 5.0

XCOMM These defines mimic what is in /usr/include/make/commondefs
XCOMM (Should be in sync with Revision 1.99)

       DSOREGFILE = $$ROOT/usr/lib/so_locations
      DSOSTARTOPT = -update_registry $(DSOREGFILE)
       DSONAMEOPT = -soname $@
       DSOVERSION = sgi1.0
    DSOVERSIONOPT = -set_version $(DSOVERSION)
        LDDSOOPTS = -elf -shared $(VLDDSOOPTS) $(LLDDSOOPTS) $(GLDDSOOPTS)
       GLDDSOOPTS = -all $(DSOSTARTOPT) $(DSONAMEOPT) $(DSOVERSIONOPT)

#ifndef SharedXlibRev
#define SharedXlibRev .1
#endif
#ifndef SharedOldXRev
#define SharedOldXRev
#endif
#ifndef SharedXtRev
#define SharedXtRev
#endif
#ifndef SharedXawRev
#define SharedXawRev
#endif
#ifndef SharedXmuRev
#define SharedXmuRev
#endif
#ifndef SharedXextRev
#define SharedXextRev
#endif
#ifndef SharedXinputRev
#define SharedXinputRev
#endif
#ifndef SharedXTestRev
#define SharedXTestRev
#endif
#ifndef SharedXTrapRev
#define SharedXTrapRev
#endif
#ifndef SharedXnmbxRev
#define SharedXnmbxRev
#endif

/*
 * XXX We rely on the fact that the Reqs can be used as both
 * dependencies and link-line options.  This is true with SGI's
 * DSO technology.
 */
#define SharedXmuReqs $(DEPXTOOLLIB) $(DEPXLIB)
#define SharedXextReqs $(DEPXLIBONLY)
#define SharedXtReqs $(DEPXLIBONLY)
#define SharedXawReqs $(DEPXMULIB) $(DEPXTOOLLIB) $(DEPXLIB)
#define SharedXinputReqs $(DEPXLIB)
#define SharedXTestReqs $(DEPXLIB)
#define SharedPexReqs $(DEPXLIBONLY)
#define SharedXnmbx $(DEPXNMBXLIB)

#if SharedLibX
      DEPXLIBONLY = _UseCat($(USRLIBDIR),$(XLIBSRC),/libX11.so$(SOXLIBREV))
          DEPXLIB = $(DEPEXTENSIONLIB) $(DEPXLIBONLY)
         XLIBONLY = _Use(-lX11,$(XLIBSRC)/libX11.so$(SOXLIBREV))
             XLIB = $(EXTENSIONLIB) $(XLIBONLY)
#endif

#if SharedLibXt
      DEPXTOOLLIB = _UseCat($(USRLIBDIR),$(TOOLKITSRC),/libXt.so$(SOXTREV))
         XTOOLLIB = _Use(-lXt,$(TOOLKITSRC)/libXt.so$(SOXTREV))
#endif

#if SharedLibXmu
/*
 * XXX - We also include -L$(TOOLKITSRC) because libXmu requires
 *   libXt and we want to make sure a transitive-link can be done
 *   properly in cases where libXt.so is not explictly specified on the
 *   link-line.  (x11perf is an example of this).  We also include
 *   -L$(EXTENSIONSRC)/lib because libXt can bring in libXext.
 *   Finally, we include -L$(XLIBSRC) because libXmu can require libX11.
 */
        DEPXMULIB = _UseCat($(USRLIBDIR),$(XMUSRC),/libXmu.so$(SOXMUREV))
       XMULIBONLY = _Use(-lXmu,$(XMUSRC)/libXmu.so$(SOXMUREV) -L$(TOOLKITSRC) -L$(XLIBSRC) -L$(EXTENSIONSRC)/lib)
           XMULIB = $(XMULIBONLY)
#endif

#if SharedLibXaw
        DEPXAWLIB = _UseCat($(USRLIBDIR),$(AWIDGETSRC),/libXaw.so$(SOXAWREV))
           XAWLIB = _Use(-lXaw,$(AWIDGETSRC)/libXaw.so$(SOXAWREV))
#endif

#if SharedLibXext
  DEPEXTENSIONLIB = _UseCat($(USRLIBDIR),$(EXTENSIONSRC)/lib,/libXext.so$(SOXEXTREV))
     EXTENSIONLIB = _Use(-lXext,$(EXTENSIONSRC)/lib/libXext.so$(SOXEXTREV))
#endif

#if SharedLibXinput
         DEPXILIB = _UseCat($(USRLIBDIR),$(EXTENSIONSRC)/lib/xinput,/libXi.so$(SOXINPUTREV))
            XILIB = _Use(-lXi,$(XILIBSRC)/libXi.so$(SOXINPUTREV))
#endif

#if SharedLibXnmbx
      DEPXNMBXLIB = _UseCat($(USRLIBDIR),$(XNMBXLIBSRC),/libXnmbx.so$(SOXNMBXREV))
         XNMBXLIB = _Use(-lXnmbx,$(XNMBXLIBSRC)/libXnmbx.so$(SOXNMBXREV))
#endif

#elif sgiShlib

XCOMM Supporting static shared libraries for IRIX 4.0

#ifndef SharedXlibRev
#define SharedXlibRev cb
#endif
#ifndef SharedXtRev
#define SharedXtRev cb
#endif

#if SharedLibX
          DEPXLIB = $(DEPEXTENSIONLIB) _UseCat($(USRLIBDIR),$(XLIBSRC),/libX11_s.a)
             XLIB = $(EXTENSIONLIB) _Use(-lX11_s,-L$(XLIBSRC) -lX11_s)
#endif

#if SharedLibXt
      DEPXTOOLLIB = _UseCat($(USRLIBDIR),$(TOOLKITSRC),/libXt_s.a)
         XTOOLLIB = _Use(-lXt_s,-L$(TOOLKITSRC) -lXt_s)
#endif

#endif /* sgiDSOlib elif sgiShlib */
