*.la
*.lo
*.log
*.logfile
*.out
*.znf
.gdb_history
.libs
DataTypes.h
DataTypes_xdr.c
FDParse.tab.cc
FDParse.tab.hh
FDScan.cc
GRIBdump
Makefile
Makefile.bak
aline
apple
bfdump
dsDaemon
dsDaemon.lf
gribdump
hdflook
rfdump
zfdump
