!
! Platforms needed by aline
!

platform t_producer
	directory	/tmp/t_producer
	organization	scalar
	filetype	netcdf
	maxsamples	20
	mobile
endplatform

platform t_consumer
	directory	/tmp/t_consumer
	organization	scalar
	filetype	netcdf
	maxsamples	20
	mobile
endplatform

platform t_producer_znf
	directory	/tmp/t_producer
	organization	scalar
	filetype	zebra
	maxsamples	20
	mobile
endplatform

platform t_consumer_znf
	directory	/tmp/t_consumer
	organization	scalar
	filetype	zebra
	maxsamples	20
	mobile
endplatform

