!
! Data store configuration file.
!
set PTableSize 2500
set DFTableSize 2000

!
! Path to the data directory.
!
if (getenv("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/zeb/project/test/data"
endif
message "Using data directory: #" datadir

! Set to true to use stat() to test for inode changes on rescans
! Set to false to always use DataGone for changed files on rescans
!
set StatRevisions true

set CacheOnExit true
set DisableRemote true
set host getenv("HOST")

platform sgpaerich1C1.a1
	maxsample	5000
	organization	nspace
	filetype	netcdf
endplatform

platform t_daysplit
	maxsample	48
	organization	scalar
	filetype	netcdf
	daysplit
endplatform

platform t_fieldtypes
	maxsample	100
	organization	scalar
	filetype	netcdf
endplatform

platform t_time_units
	maxsample	100
	organization	scalar
	filetype	netcdf
endplatform

platform t_time_units_2
	maxsample	100
	organization	scalar
	filetype	netcdf
endplatform

platform t_att_types_cdf
	maxsample	100
	organization	scalar
	filetype	netcdf
endplatform

platform t_aeri_types_cdf
	maxsample	5000
	organization	scalar
	filetype	netcdf
endplatform

platform t_aeri_types_znf
	maxsample	5000
	organization	scalar
	filetype	zeb
endplatform

platform t_deletes
	maxsample	1
	organization	scalar
	filetype	zeb
endplatform

platform t_producer
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform t_consumer
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform t_dummy_cdf
	maxsample	60
	organization	scalar
	filetype	netcdf
endplatform

platform t_dummy_znf
	maxsample	60
	organization	scalar
	filetype	zeb
endplatform

platform t_dummy_single
	maxsample	2
	organization	scalar
	filetype	netcdf
endplatform

platform t_gap_cdf
	maxsample	60
	organization	scalar
	filetype	netcdf
endplatform

platform t_gap_znf
	maxsample	60
	organization	scalar
	filetype	zeb
endplatform

platform t_transparent
	maxsamples	500
	organization	transparent
	filetype	zeb
endplatform

platform t_getfields_cdf
	maxsamples	100
	organization	scalar
	filetype	netcdf
endplatform

platform t_getfields_znf
	maxsamples	100
	organization	scalar
	filetype	zeb
endplatform

!
! Platforms for testing of NSpace, the DFA block method, ZNF, etc.
!
platform t_nspace
	organization	scalar
	filetype	netcdf
	maxsamples	1000
endplatform

platform t_test6
	organization	scalar
	filetype	netcdf
	maxsamples	1000
endplatform

platform t_blocks
	organization	scalar
	filetype	zeb
	maxsamples	1000
endplatform

platform t_nsblocks
	organization	scalar
	filetype	netcdf
	maxsamples	1000
endplatform

platform t_scalar
	organization	scalar
	filetype	zeb
	maxsamples	1000
	mobile
endplatform

platform t_copy_source
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform t_copy_dest
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform t_virtual
!	organization	fixedscalar
	organization	scalar
	filetype	zeb
	maxsamples	5000
	mobile
endplatform

platform t_nsscalar
	organization	scalar
	filetype	netcdf
	maxsamples	1000
endplatform

platform t_nsvsc_scalar
	organization	scalar
	filetype	netcdf
	maxsamples	1000
endplatform

platform t_nsvsc_nspace
	organization	scalar
	filetype	netcdf
	maxsamples	1000
endplatform

platform t_fixed
	organization	fixedscalar
	filetype	zeb
	maxsamples	1000
	mobile
endplatform

platform t_1dgrid_cdf
	organization	1dgrid
	filetype	netcdf
	maxsamples	1000
endplatform

platform t_1dgrid_znf
	organization	1dgrid
	filetype	zeb
	maxsamples	1000
endplatform

!!
!! TAO --- Tropical Atmosphere-Ocean moorings data
!! Ingestor in /zeb/ingest/tao
!! Prompted by request from Chidong Zheng, UWash, at COARE, Honiara
!!
!! maxsamples presently set to allow at least a year of daily data
!!
!platform tao
!	organization	irgrid
!	filetype	netcdf
!	maxsamples	500
!	remote		'/scr/fat-freddie/zeb/tao'
!	regular		86400
!	composite
!endplatform
!
!subplatform tao 0n143e  0n158e  0n170w  2n156e  2s156e  5n155w  5s155w  
!subplatform tao 8n165e  8s170w  0n154e  0n160e  2n137e  2n165e  2s165e
!subplatform tao 5n156e  5s156e  8n170w  0n155w  0n165e  2n147e  2n170w
!subplatform tao 2s170w  5n165e  5s165e  8s155w  0n156e  0n170e  2n155w
!subplatform tao 2s155w  5n147e  5n170w  5s170w  8s165e

!
! An ISS platform
!
platform kapinga/prof915h
	organization	1dgrid
	filetype	netcdf
	maxsamples	1000
	remote		/scr/fat-freddie/zeb/kapinga/prof915h
endplatform

!
! A simple class for mesonet stations
!
class Stn
	organization	scalar
	filetype	netcdf
endclass

class Mesonet
	organization	irgrid
	filetype	netcdf
	maxsamples	24
	composite
endclass Mesonet

!
! The subplatforms are added to the class below.  The mesonet platforms
! themselves are instantiated at the bottom
!

!-----------------------------------------------------------------------
! PROFS
subplats Mesonet Stn "arvada, co" aurora boulder briggsdale brighton
subplats Mesonet Stn byers elbert erie "estes park" "fort colli"
subplats Mesonet Stn "fort morga" greeley "idaho spri" keenesburg
subplats Mesonet Stn lakewood littleton longmont loveland nunn
subplats Mesonet Stn plattevill rollinsvil ward
! ISWS
subplats Mesonet Stn frf one siu sll snd mnh orr brs bel rdl icc wfp 
subplats Mesonet Stn cmi llc dxs bnd dek fre scs
! ASOSH
subplats Mesonet Stn lnk 3km ako als bvo cnk cnu cos ddc dmo foe gck gri
subplats Mesonet Stn hlc ict laa lhx mck mhk mko mlc ojc ppf rsl sln sny
subplats Mesonet Stn stj top tqe wld emp hsi hut sgf pub pwa gld okc pnc
subplats Mesonet Stn swo tul ixd
! ASOSQ
subplats Mesonet Stn cvn frm aiz auh bie bkx bvx cgz csq cwi dns ear eau
subplats Mesonet Stn ege ewk fet flp fnl fod gbd gxy h00 hde hdn hys lbl
subplats Mesonet Stn lxn mkt mle onl otg rog sgt skx slg sqi sue tad uin
subplats Mesonet Stn ykn mml mvn oga olu mtw
! HPLAINS
subplats Mesonet Stn ainsworth "ames south" beatrice beresford
subplats Mesonet Stn "castana ex" "central ci" chariton colby crawfordsv
subplats Mesonet Stn "de soto" dickens elgin "garden cit" gibbon gilbert
subplats Mesonet Stn gilmore halsey havelock hays hesston holdrege
subplats Mesonet Stn hutchinson lexington "lincoln ia" manhattan mccook
subplats Mesonet Stn mead "mead turf" nashua "north east" "north plat"
subplats Mesonet Stn "o'neill" oacoma ord ottawa parsons pierre powhattan
subplats Mesonet Stn "red cloud" "rising cit" rockport rossville
subplats Mesonet Stn sandyland scandia shelton "silver lak" "south cent"
subplats Mesonet Stn sutherland tarnov "unsta curt" "west point" wichita
subplats Mesonet Stn akron "alliance n" "alliance w" "arapahoe p" arthur
subplats Mesonet Stn champion cottonwood gordon grant gudmundsen nisland
subplats Mesonet Stn panhandle "pine bluff" scottsbluf sidney silverthor
subplats Mesonet Stn sterling stratton tribune walsh wheatland
!
! WDPD (plattevill removed because the name is used in the PROFS stations)
!
subplats Mesonet Stn palestine "white sand" dequeen purcell haskell vici
subplats Mesonet Stn lamont neodesha haviland granada hillsboro
subplats Mesonet Stn unknown
!
! NCDC (the following NCDC station names are duplicated elsewhere:
!	foe, hut, ojc, 3km, ako, cnk, cnu, ddc, eau, sue, ord, lbl, frm, mml,
!	hdn, skx, fnl, sny, als, ege, lnk, mck, lhx, tad, pub, cos, hon, ict,
!	uin, mlc, okc, asg, pnc, mhk, bvo, hlc, sln, tul, pwa)
!
subplats Mesonet Stn 8y8 ael apa ase atw bih bjc csm fbl gyr lse mkc mtj
subplats Mesonet Stn rhv sck sdl sow u24 bzn ffz lar rbd sba see ttd tvl
subplats Mesonet Stn wjf 75s adm ads anb eph ida psp sac toa 0v1 1k5 9v9
subplats Mesonet Stn acv blu byi cag drt jms mfe mmo sdb sxt vtn wrl 2wx
subplats Mesonet Stn 87q alw bno cez dls e74 flg hvr lws pns smp sns 1o5
subplats Mesonet Stn abr aia alo ama aqq ast bhm bil bis bke blh bna boi
subplats Mesonet Stn bpt bro btr cdc cdr cds cew cid cnm cou cpr crp csv
subplats Mesonet Stn dal dbq dfw dht dlh dsm dvt eat eug evv far fat fca
subplats Mesonet Stn fsd fsm fwa elo ffm inw guc ctb lgd ile sbn sea b23
subplats Mesonet Stn 9bb mke lwt hib awh wmc mce 4lw 4bk jnw 4hv olm 1v1
subplats Mesonet Stn 27u s80 esc 4bl psx hez pib tvf bji dyr mkg 76s cao
subplats Mesonet Stn uil env jac sgu cod sdy mqt gfk sfo uki siy rks rdd
subplats Mesonet Stn ely aty eld 4bq mqm 0e4 dvl 4dg dro 3ht gnt rbl dln
subplats Mesonet Stn esf hqm wey ali hmn bli end sle hou cqv rnd 3du smx
subplats Mesonet Stn rdm dys mcb vct row inl 77m u78 cmx prb bfl lrd aus
subplats Mesonet Stn 4sl nkx abi lru vel tvc buo cvs oth dug ftw 3th nbe
subplats Mesonet Stn ssf iah msn sps act rfd lvs rhi stc auw lax fcm rwf
subplats Mesonet Stn sjn hob 2c2 mwl gup dik mic e23 aff isn lft hon rst
subplats Mesonet Stn mlu sbs pir mld mot 4my bbw sux aex ofk phx off mls
subplats Mesonet Stn mem hro laf dag msy pia mkl tbn beh mwa axn btm huf
subplats Mesonet Stn est bwg nmm lit mei txk 3se dhn mgm hms tcl lxv shr
subplats Mesonet Stn edw mhv lgb nfg tph lol hbr gbn bys mmh eed msl trm
subplats Mesonet Stn fcl ggw gwo hsv gag otm eko bff fmn tex lvm gjt rwl
subplats Mesonet Stn dmn hln lfk aln t62 sli dnv dra tup cha grb mws sep
subplats Mesonet Stn 4lj ink mcw ind sus 5j0 shv pdt tdo anw new cgi auo
subplats Mesonet Stn 3s2 ack bvi hpn jst lyh mfd oqu fpr 3b1 aby aug orh
subplats Mesonet Stn abe agc ags alb and aoo apn atl avl ays bdl bdr bgm
subplats Mesonet Stn bkw bos btv buf cak cdw chh cle cmh con crw csg cxy
subplats Mesonet Stn dca det eri ewr gfl gso gsp htl iad ilg ilm isp jkl
subplats Mesonet Stn jxn lan lex lga luk mco mdt mia miv orf pbi phl pit
subplats Mesonet Stn pkb pwm rdu ric roa ssi syr tlh tol tpa tys vrb cae
subplats Mesonet Stn chs clt dtw ewn ipt pvd tri ahn avp bgr dab day hat
subplats Mesonet Stn hts jax lal roc sav amg car cvg fnt afj fdy gnv mcn
subplats Mesonet Stn uca adw ekn lfi mtc nrb pob rme bid sby mrb fmy apf
subplats Mesonet Stn jfk hff acy fay pou bfd leb art blf flo hky hul mgw
subplats Mesonet Stn mss duj pln een bhb rkd rut wvl mwn hgr ash loz lwm
subplats Mesonet Stn agr mpv mob sjt elp maf tus jan san ckl lbb abq las
subplats Mesonet Stn jln sdf stl lic mci rno den slc lbf oma ovn mfr lnd
subplats Mesonet Stn grr pih rap msp pdx mso gtf geg hdo sat lch s29 vih
subplats Mesonet Stn pkd brl 3oi bny p05 4cr ane
! AWOSH
subplats Mesonet Stn ftg asg
! PAM
subplats Mesonet Stn "pam  1" "pam  2" "pam  3" "pam  4" "pam  5"
subplats Mesonet Stn "pam  6" "pam  7" "pam  8" "pam  9" "pam 10"
subplats Mesonet Stn "pam 11" "pam 12" "pam 13" "pam 14" "pam 15"
subplats Mesonet Stn "pam 16" "pam 17" "pam 18" "pam 19" "pam 20"
subplats Mesonet Stn "pam 21" "pam 22" "pam 23" "pam 24" "pam 25"
subplats Mesonet Stn "pam 26" "pam 27" "pam 28" "pam 29" "pam 30"
subplats Mesonet Stn "pam 31" "pam 32" "pam 33" "pam 34" "pam 35"
! PAM-PBL
subplats Mesonet Stn "pam 37" "pam 39" "pam 40" "pam 41" "pam 42"
subplats Mesonet Stn "pam 43" "pam 44" "pam 45" "pam 46" "pam 47"
! ASOS1 (top included in ASOSH above)
!subplats Mesonet Stn top
! AWOS1
subplats Mesonet Stn clinton creston denison

instance Mesonet t_mesonet 

!
! Inherit subplatforms from mesonet but override the filetype
!
!platform t_irgrid_znf Mesonet
!	filetype	zeb
!endplatform

platform t_irgrid_cdf Mesonet
	filetype	netcdf
endplatform

