!
! Data store configuration file.
!
set PTableSize 2000
set DFTableSize 2000
set DelayDataDirs true

!
! Path to the data directory.
!
set DataDir "/net/shared/zebra/project/test/data"
message "Using data directory: #" datadir

! Set to true to use stat() to test for inode changes on rescans
! Set to false to always use DataGone for changed files on rescans
!
set StatRevisions true

set CacheOnExit true
set DisableRemote true
set host getenv("HOST")

! ==================================================================
! Permanent platforms
!
! All others above can be defined by the test client through the 
! datastore interface and protocol
!
! ==================================================================

platform sgpaerich1C1.a1
	maxsample	5000
	organization	nspace
	filetype	netcdf
endplatform

!
! An ISS platform
!
platform kapinga/prof915h
	organization	1dgrid
	filetype	netcdf
	maxsamples	1000
	remote		/scr/fat-freddie/zeb/kapinga/prof915h
endplatform

