!
! Data store configuration file.
!
set PTableSize 2000

!
! Data source.
!
set DataDir "./data"
message "Using data directory: #" datadir

source perm 
	directory #DataDir
endsource

! Set to true to use stat() to test for inode changes on rescans
! Set to false to always use DataGone for changed files on rescans
!
set StatRevisions true

set host getenv("HOST")

! ==================================================================
! Permanent platforms
!
! All others above can be defined by the test client through the 
! datastore interface and protocol
!
! ==================================================================

platform sgpaerich1C1.a1
	maxsample	5000
	organization	nspace
	filetype	netcdf
endplatform

!
! An ISS platform
!
platform kapinga/prof915h
	organization	1dgrid
	filetype	netcdf
	maxsamples	1000
endplatform

class Surface
	comment		'Surface Meteorology from Campbell Data Logger'
      	organization	scalar
	filetype	netcdf
	daysplit
	maxsamples	1440
	! Add the usual derived fields
	field		"mr[w][%][Mixing Ratio] = [w][%];"
	derivation	"decimalmr[w][1][Mixing Ratio] = [w][1];"
endclass

! Make sure class fields and derivations are propagated to subclass
class SurfaceSubclass Surface
endclass

instance SurfaceSubclass surface 

