!
! Data store configuration file.
!
set PTableSize 2000

!
! Data source.
!
set DataDir "./test/data"
message "Using data directory: #" datadir

source perm 
	directory #DataDir
endsource

! Set to true to use stat() to test for inode changes on rescans
! Set to false to always use DataGone for changed files on rescans
!
set StatRevisions true

set host getenv("HOST")

! ==================================================================
! Permanent platforms
!
! All others above can be defined by the test client through the 
! datastore interface and protocol
!
! ==================================================================

platform sgpaerich1C1.a1
	maxsample	5000
	organization	nspace
	filetype	netcdf
endplatform

platform permsplit
	comment		"Verify splitseconds attribute"
	maxsample	5000
	organization	nspace
	filetype	netcdf
	splitseconds	1234
endplatform	

!
! An ISS platform
!
platform kapinga/prof915h
	organization	1dgrid
	filetype	netcdf
	maxsamples	1000
endplatform

class Surface
	comment         'ISS Surface Measurements'
	organization    scalar
	filetype        netcdf
	daysplit
	maxsamples      1440

	! Elaborate the undocumented netcdf fields
	!
        field           "tdry[T][degC][Temperature] = tdry;"
	field           "pres[P][hPa][Pressure] = pres;"
        field           "rh[rh][%][Relative humidity] = rh;"
	field           "wspd[wspd][meters second-1][Wind Speed] = wspd;"
        field           "wdir[wdir][degrees_north][Wind Direction] = wdir;"

	! Commonly derived fields
	!
        field   "mr[w][gram/kg][Mixing ratio] = [w][gram/kg];"
	field   "dewpoint[T_d][degC][Dewpoint Temperature] = [T_d][degC];"
endclass

! Make sure class fields and derivations are propagated to subclass
class SurfaceSubclass Surface
endclass

! Permanent surface instance for testing class fields and derivations
instance SurfaceSubclass t_surface


! An opaque file platform
class Files
	organization transparent
	filetype opaque
endclass

platform etc-files Files
	directory "/etc"
endplatform

